@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
.header-one {
  font-size: 24px;
}
.BOLD {
  font-weight: bold;
}
.RED_LINE {
  color: red;
}
.UNDERLINE {
  text-decoration: underline;
}
